{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'crud/css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>home</title>
</head>
<body>
    <!-- панель навигации -->
    <div class="navigation">
        <ul class="list-nav">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'list-create' %}">Добавть статью</a></li>
            <li><a href="{% url 'list_records' %}">статьи</a></li>
            <div class="topnav-right">
                <li><a href="{% url 'profile' user.id %}">профиль</a></li>
                <li><a href="{% url 'logout' %}">выйти</a></li>
            </div>
            {% else %}
            <li><a href="{% url 'list_records' %}">статьи</a></li>
            <div class="topnav-right">
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
            </div>
            {% endif %}
        </ul>
    </div>
    <div class="container">
    {% block main %}
    {% endblock %}
    </div>
</body>
</html>